.tln-red{
  background-color: #f44336;
  text-decoration: none;
  color: white;
}
.tln-blue{
  background-color: #2196F3;
  text-decoration: none;
  color: white;
}
.tln-green{
  background-color: #4CAF50;
  text-decoration: none;
  color: white;
}
.tln-yellow{
  background-color: #FFEB3B;
  text-decoration: none;
  color: white;
}
